{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="showcase mt-5">
        <h1 class="text-center mb-5 text-info">Your quizes</h1>
        <div class="container-fluid p-0">
            {% for order in orders %}
                <div class="row no-gutters serivce-table">
                    <div class="col-lg-6 order-lg-2 text-white  text-center ">
                        <img class="service-img" src="{{ MEDIA_URL }}{{ order.service_id.image }}" alt="{{ order.service_id.name }}">
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto text-center service-description ">
                        <h2>{{ order.service_id.name }}</h2>
                        <p class="lead mb-1">{{ order.service_id.description }}</p>
                        <a class="btn btn-info mt-1" href="{% url 'quizz' order.service_id.id %}">Start Quizz!</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}