{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container">
        <div class="row header-container">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Order History</h2>
                <hr>
            </div>
        </div>
        <div class="col-12 col-lg-9 mt-5 mb-5">
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless ">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Status</th>

                    </tr>
                    </thead>
                    <tbody>
                        {% if orders %}
                    {% for order in orders %}
                        <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"
                               class="text-info">
                                {{ order.order_number }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.service_id }}</td>
                        <td>{{ order.status }}</td>
                    {% endfor %}
                    {% else %}
                    <td>You don't have any orders yet!</td>
                    {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-info mb-5 mt-5" href="{% url 'services' %}">Back to order new quizzes</a>
        </div>
    </section>
{% endblock %}