{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-12 col-lg-6">
    <p class="text-muted">Order History</p>
    <div class="order-history table-responsive">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Items</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                            {{ order.order_number }}
                        </a>
                    </td>
                    <td>{{ order.date }}</td>
                    <td>
                    <td>{{ order.service_name }}</td>
                    <td>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock%}