{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="showcase mt-5">

    <h1 class="text-center mb-5 text-info">What to do now?</h1>
    <div class="col-md-4 offset-md-4 mt-5 mb-5 text-center"> 
      <a href="{% url 'services' %}" class="btn btn-info w-100 ">Go to the quizes list!</a>
  </div>
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-img1"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Check our available progrmas</h2>
          <p class="lead mb-0">Why end might ask civil again spoil. She dinner she our horses depend. Remember at children by reserved to vicinity. In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living. Tastes lovers myself too formal season our valley boy. Lived it their their walls might to by young. 
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img showcase-img2"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Complete the quizz!</h2>
          <p class="lead mb-0">Why end might ask civil again spoil. She dinner she our horses depend. Remember at children by reserved to vicinity. In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living. Tastes lovers myself too formal season our valley boy. Lived it their their walls might to by young. 
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-img3"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Check out to get the results!</h2>
          <p class="lead mb-0">Why end might ask civil again spoil. She dinner she our horses depend. Remember at children by reserved to vicinity. In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living. Tastes lovers myself too formal season our valley boy. Lived it their their walls might to by young. 
          </p>
        </div>
      </div>
      <div class="col-md-4 offset-md-4 mt-5 mb-5 text-center  "> 
        <a href="{% url 'services' %}" class="btn btn-info w-100 ">Go to the quizes list!</a>
    </div>    </div>
  </section>

{% endblock %}