{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="showcase mt-5">

        <h1 class="text-center mb-5 text-info">What to do now?</h1>
        <div class="col-md-4 offset-md-4 mt-5 mb-5 text-center">
            <a href="{% url 'services' %}" class="btn btn-info w-100 ">Go to the quizes list!</a>
        </div>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-6 order-lg-2 text-white showcase-img showcase-img1"></div>
                <div class="col-md-6 order-lg-1 my-auto showcase-text">
                    <h2>Check out our available Programs!</h2>
                    <p class="lead mb-0">You can start by checking our available programs by clicking on the quizes
                        list, pick a program and start the quizz.
                    </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img showcase-img2"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Complete the Quizz!</h2>
                    <p class="lead mb-0">you will have to answer a few questions and it will take about 3-5 minutes, we
                        will ask you some questions regarding your education background and some contact information, so
                        later if you find this program fit then we will let the admission office get in touch with you.
                    </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-img3"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Check out to get the results!</h2>
                    <p class="lead mb-0">Once you have completed the quizz, click on checkout in order for us to process
                        your information, you will have to make a small payment of <strong>5 USD</strong> and you will
                        get a feedback from with ith the results, you will get a full report based on your answers,
                        including eligibility and personal interest. <strong class="text-danger">Make sure that you submit the
                            Quizz before your check out. our fees are NON REFUNDABLE! </strong>
                    </p>
                </div>
            </div>
            <div class="col-md-4 offset-md-4 mt-5 mb-5 text-center  ">
                <a href="{% url 'services' %}" class="btn btn-info w-100 ">Go to the quizes list!</a>
            </div>
        </div>
    </section>

{% endblock %}