{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="showcase mt-5">
    <h1 class="text-center mb-5 text-info">{{service.name}}</h1>
    <div class="container-fluid p-0">
        <div class="row no-gutters col-md-8 offset-md-3">
            <iframe src="{{service.quizz}}" width="700" height="700" frameborder="0" marginheight="0"
                marginwidth="0">Loading…</iframe>
        </div>

        <div class="col-md-4 offset-md-4 mt-5 mb-5 text-center"> 
            <h4 class="text-center text-danger text-uppercase mb-5">once you completed the quizz click on the button below to get the results on your
                email.</h4>
            <a href="#" class="btn btn-info  ">Check out Now</a>
        </div>
    </div>
</section>

{% endblock %}